@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

html, body {
    height: 100%;
}
/* Προσαρμογή του header */
.header-content {
    padding-top: 0.100rem; 
    padding-bottom: 0.100rem; 
    position: relative;
    border-bottom:3px solid #0c0b0b; 

}

.header-content h1 {
    margin-top: 0.100rem; 
    margin-bottom: 0.100rem; 
    font-size: 30px;
}

.header-content p {
    margin-top: 0.100rem; 
    margin-bottom: 0.100rem;
    font-size: 17px; 
}


.header-image {
    position: absolute; /* Absolute positioning για την εικόνα */
    left: 90px; /* Ρυθμίστε τις αποστάσεις από την αριστερή πλευρά */
    top: 50%; /* Κεντράρει την εικόνα κατακόρυφα */
    transform: translateY(-50%); /* Διορθώνει το κέντρο για κατακόρυφη κέντρωση */
}

.header-text {
    /* Κρατά το κείμενο κεντραρισμένο στο κέντρο */
}


.fa-2x {
/* font-size: 2em; */
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 30px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


/* .main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
} */

.main-menu {
    background: #1c4b82; 
    border-right:3px solid #0c0b0b;
    position:static;

    left:0;
    height: 100%;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
margin-left: -30px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#0f0909;
font-family: 'Roboto', sans-serif; /* Αλλαγή εδώ */
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:left;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:220px;
  font-family: 'Roboto', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}
/* 
nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
} */

/* nav ul,nav li {
outline:0;
margin:0;
padding:0;
} */
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

.footer-content {
    height: 60px;
    line-height: 60px; /* Αυτό κεντραρίζει κάθετα το κείμενο μέσα στο footer */
    border-top: 3px solid #000000;
    text-align: center;
}


.background-image-wrapper {
    background-image: url('/images/greece.webp'); /* Αλλάξτε το με την πραγματική διαδρομή της εικόνας σας */
    background-size: cover; /* ή use '100% 100%' για ακριβή ταιριάξιμο */
    background-position: center; /* Κεντραρίζει την εικόνα στην 'div' */
    background-repeat: no-repeat; /* Για να μην επαναλαμβάνεται η εικόνα */
}



