body {
    font-family: arial,helvetica,sans-serif;
}

#container{
    margin: 0 auto;
    /*float: left;*/
    width: 100%;
}


#MainContainer{
    float: left;
    width: 100%;
}

#content{
    clear: left;
    float: left;    
    width: 65%;
    padding: 20px 0;
    width: 0 0 0 5%;
    display: inline;
}

#sidebar{    
    float: left;    
    width: 20%;
    padding: 20px 0;
    margin: 0 2% 0 0;
    display: inline;
    background-color: #CCCCCC;
}

