body{
    background-color: #f8f8f8;
    background-image: url("./images/1ake-1.gif");
    background-repeat: repeat;
   
}

tr{
    font-style: italic;
    font-size: 20pt;
    color: yellow;      
}

p{
    font-weight: bold;
    color: greenyellow; 
}