

body {
    background-color: #f8f8f8;
}

.boldText {
    font-weight: bold;
}

span {
    font-style: italic;
    font-size: 20pt;
    color: red; 
}

.addBorder {
    border: 3px double black;
    padding: 5px;
}

ul {
    list-style-type: square;
}
